@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '@fullcalendar/common/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css'; */
@import 'sweetalert2/dist/sweetalert2.min.css';

.slick-track {
  display: flex !important;
  justify-content: flex-start !important;
  height: 500px;
  gap: 30px !important;
}

input[type="range"] {
  -webkit-appearance: none; /* 브라우저 기본 스타일 제거 */
  appearance: none;
  height: 4px;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 1.5px solid #B3916A;
  border-radius: 50%;
  cursor: pointer;
}